body {
  color: #2e2e2e;
  font-size: 18px;
  font-family: "Muli", sans-serif;
  background-color: #f5f6f8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #151515;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, li {
  padding: 0;
  margin: 0;
}

.btn {
  border: 1px solid #d3d3d3;
  background-color: #eff4f8;
  color: #000000;
  font-weight: 900;
  padding: 10px 18px;
  cursor: pointer;
}
.btn:hover {
  background-color: #e3eff8;
}

.box {
  background-color: #e0ebf5;
}

.text {
  line-height: 24px;
  padding-bottom: 20px;
}

.fa-angle-double-right {
  padding-right: 10px;
}

.fa-caret-right {
  padding-right: 10px;
  padding-bottom: 9px;
}

.header {
  display: flex;
  justify-content: space-between;
  background: url(../images/unnamed.jpg) no-repeat center;
  background-size: cover;
  height: 207px;
  position: relative;
  align-items: center;
}
.header .header-text {
  margin-left: 109px;
}
.header .header-text__title {
  margin: 0;
}
.header .header-text__slogan {
  margin: 5px 0 62px 0;
}
.header .header-photo {
  height: 206px;
  width: 206px;
  margin-right: 77px;
}

.description {
  margin: 13px;
}
.description .navigation {
  border: 0.5px dotted #d3d3d3;
}
.description .navigation .navigation-lines {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 15px 0;
}
.description .navigation .navigation-lines li {
  position: relative;
  padding: 0 4.4vw;
}
.description .navigation .navigation-lines li:not(:first-child)::before {
  content: "";
  border-left: 2px dotted #d3d3d3;
  display: block;
  position: absolute;
  height: 17px;
  left: 0;
}
.description .navigation .navigation-lines li:not(:first-child)::before:first-child .description .navigation .navigation-lines li:not(:first-child)::before::before {
  display: none;
}
.description .navigation a {
  color: #5a5959;
  font-size: 17px;
}
.description .information {
  display: flex;
  color: #5a5959;
  margin: 28px 20px 50px;
}
.description .information .information-visible {
  flex: 4;
}
.description .information .information-visible__about .about-text {
  position: relative;
  padding-top: 11px;
  margin-top: 30px;
}
.description .information .information-visible__about .about-text::before {
  content: "";
  border-top: 1px solid #d3d3d3;
  display: block;
  position: absolute;
  width: 99%;
  top: 0;
}
.description .information .information-visible__below {
  display: flex;
  box-sizing: content-box;
}
.description .information .information-visible__below .introductions {
  position: relative;
  padding-right: 20px;
}
.description .information .information-visible__below .introductions::after {
  content: "";
  border-left: 1px solid #d3d3d3;
  display: block;
  position: absolute;
  height: 102%;
  right: 0;
  top: 6px;
}
.description .information .information-visible__below .welcome {
  padding-left: 20px;
}
.description .information .information-hidden {
  flex: 1;
  margin-left: 15px;
}
.description .information .information-hidden .hidden-menu__title {
  cursor: pointer;
  font-size: 19px;
  font-weight: 900;
}
.description .information .information-hidden .hidden-menu__title .fa-angle-double-right {
  padding-right: 10px;
}
.description .information .information-hidden .hidden-menu__open .menu-lines {
  display: block;
}
.description .information .information-hidden .menu-lines {
  margin: 0;
  list-style: none;
  display: none;
  padding-top: 20px;
}
.description .information .information-hidden .menu-lines__link {
  font-family: none;
  font-weight: 900;
  font-size: 15px;
}
.description .information .information-hidden .menu-lines__link .fa-caret-right {
  padding-right: 10px;
  padding-bottom: 9px;
}
.description .information .information-hidden .menu-lines__link1 {
  padding-bottom: 15px;
}
.description .information .information-hidden .menu-lines__link1 a {
  color: #575757;
  font-size: 15px;
}
.description .information .information-hidden .menu-lines__link2 {
  font-size: 15px;
}
.description .information .information-hidden .main-menu {
  padding-left: 14px;
}
.description .footer {
  height: 60px;
  text-align: center;
}
.description .footer .footer-text {
  padding-top: 20px;
}
.description .footer .footer-text__link {
  color: #3a92e4;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
